.shadow-dramatic {
	filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)) drop-shadow(-1px 6px 3px green);
}

.bevel-gold-inner {
	filter: drop-shadow(-1px -1px 3px blue);
}

.goldfoil {
	background-image: url('./goldfoil.png');
}

.font-artdeco {
}
